nav {
    border-bottom: 3px solid #85754d;
}

img.profile {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

.img-thumbnail {
    border: 2px solid #dee2e6;
}

img:hover {
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

body {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 580;
}

.quote {
    font-family: 'Tangerine', cursive;
    font-size: 45px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
}

.jumbotron {
    opacity: 0.75;
    font-size: 20px;
}

.jumbotron a, .jumbotron a:hover {
    color: #212529;
}

footer {
    border-top: 1px solid #b1b1b1;
    color: #000;
    opacity: 0.5;
    font-weight: 600;
}

footer .container {
    vertical-align: middle;
}

.tech {
    color: #666;
}

.tech:hover {
    color: #4b2e83;
    transition: all 1s ease;
    transform: rotateY(720deg);
}