nav {
    border-bottom: 3px solid #85754d;
}

.bg-purple {
    background-color: #4b2e83;
}

img.profile {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

.img-thumbnail {
    border: 2px solid #dee2e6;
}

img:hover {
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.contactForm {
    margin-top: 2em;
}

footer .container {
    vertical-align: middle;
}

.googleFontFooter {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: bold;
}

.fab, .fas {
    color: #666;
}